<html>
    <head></head>
    <body>
        <h1>Khoa Pham Training</h1>
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <input 
                type="text" 
                name="username" 
                placeholder="Username"
            />
            <input type="file" name="avatar"/>
            <input type="submit" value="Dang Ky"/>
        </form>
    </body>
</html>